<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabbed Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h1>Company Suprise and Analysis</h1>
    
    <h2>Input</h2>
    <form method="POST">
        <input type="text" name="text_input" placeholder="Isin Number">
        <input type="date" name="start_date" placeholder="Start Date">
        <input type="date" name="end_date" placeholder="End Date">
        <button type="submit">Submit</button>
    </form>

    <!-- Tabs (Always Visible) -->
    <div class="tabs">
        <input type="radio" id="tab1" name="tabs" checked>
        <label for="tab1" class="tab-label">Earnings</label>

        <input type="radio" id="tab2" name="tabs">
        <label for="tab2" class="tab-label">Income</label>

        <input type="radio" id="tab3" name="tabs">
        <label for="tab3" class="tab-label">News</label>

        <input type="radio" id="tab4" name="tabs">
        <label for="tab4" class="tab-label">Extraction</label>

        <input type="radio" id="tab5" name="tabs">
        <label for="tab5" class="tab-label">Plot</label>

        <div class="tab-content content-1">
            <div class="table-container">{{ table | safe }}</div>
        </div>

        <div class="tab-content content-2">
            <div class="table-container">{{ income_table | safe }}</div>
        </div>

        <div class="tab-content content-3">
            <div class="table-container">{{ news_tbl | safe }}</div>
        </div>

        <div class="tab-content content-4">
            <div class="table-container">{{ extraction_tbl | safe }}</div>
        </div>

        <div class="tab-content content-5">
            <div class="plot-container">{{ plot_html | safe }}</div>
            <div class="plot-container">{{ sue_plot | safe }}</div>
            <div class="plot-container">{{ cor_plot | safe }}</div>
        </div>
    </div>

</body>
</html>